@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: SceneW01-Black;
  font-weight: 900;
  src: url(../../assets/fonts/SceneW01-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.header {
  width: 100%;
  background-color: #a7e1ff;
}

.header__content {
  display: flex;
}

.online-zoo-title {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.header__logo {
  margin-right: 58px;
  padding-top: 12px;
  height: 80px;
}

.header__menu {
  margin-top: 31px;
  display: flex;
  gap: 35px;
  list-style-type: none;
}

.header__menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(#70bc0e, #70bc0e);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.header__menu-link:hover {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
  background-size: 100% 2px;
}

.header__menu-link_active {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
  pointer-events: none;
}

.main {
  position: relative;
  margin-bottom: -15px;
  width: 100%;
  background-color: #a7e1ff;
}

.map__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.map {
  position: relative;
  height: 745px;
  background-image: url(../../assets/images/map.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.country {
  position: absolute;
  display: block;
}

.country__usa {
  top: 377px;
  left: 201px;
}

.country__drc {
  top: 523px;
  left: 511px;
}

.country__china {
  top: 391px;
  left: 833px;
}

.animal {
  position: absolute;
  display: block;
}

.animal__eagle {
  top: 419px;
  left: 20px;
}

.animal__gorilla {
  top: 527px;
  left: 727px;
}

.animal__panda {
  top: 422px;
  left: 994px;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
}

.icon__link {
  display: block;
  border-radius: 50%;
}

.icon__link:hover ~ .icon__tooltip {
  opacity: 1;
}

.icon__picture {
  width: 64px;
  height: 64px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.icon__picture:hover {
  border: 4px solid #70CB0E;
}

.icon__tooltip {
  display: flex;
  align-items: center;
  opacity: 0;
}

.icon__tooltip-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 47px;
  background: #70CB0E;
}

.icon__tooltip-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}

.icon__tooltip-subtext {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.icon__eagle {
  top: 396px;
  left: 77px;
}

.icon__alligator {
  top: 405px;
  left: 300px;
}

.icon__gorilla {
  top: 505px;
  left: 655px;
}

.icon__panda {
  top: 409px;
  left: 922px;
}

.zoom {
  position: absolute;
  right: 20px;
  bottom: 100px;
  width: 32px;
  height: 80px;
  background-image: url(../../assets/icons/zoom.svg);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.button {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  background-color: #70cb0e;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #59a10c;
}

.button:active {
  transform: scale(0.95);
}

.footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 285px;
  background-image: url(../../assets/images/bg-footer.svg);
  background-repeat: no-repeat;
  background-position: 5px 100%;
}

.footer__wrapper {
  width: 100%;
  height: 270px;
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #dff5b0;
}

.footer__links {
  display: flex;
  margin-bottom: 63px;
}

.footer__logo {
  margin-right: 100px;
}

.footer__logo-image {
  width: 98px;
  height: 50px;
}

.footer__button {
  margin-right: 162px;
  display: block;
  width: 230px;
  height: 50px;
  padding: 14px 28.5px 15px 28.5px;
}

.footer__button:hover {
  background-color: #59a10c;
}

.footer__button:active {
  transform: scale(0.95);
}

.footer__navigation {
  margin-right: 3px;
  display: flex;
}

.footer__menu-wrapper {
  margin-right: 121px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer__menu-link:hover {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
}

.footer__socials {
  display: flex;
  gap: 10px;
}

.footer__social {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer__social:hover {
  transform: scale(1.2);
}

.instagram {
  background-image: url(../../assets/icons/instagram.svg);
}

.facebook {
  background-image: url(../../assets/icons/facebook.svg);
}

.twitter {
  background-image: url(../../assets/icons/twitter.svg);
}

.youtube {
  background-image: url(../../assets/icons/youtube.svg);
}

.footer__copyright {
  display: flex;
  align-items: flex-end;
}

.rsschool {
  margin-right: 57px;
  width: 141px;
  height: 50px;
  background-image: url(../../assets/icons/rsschool.svg);
}

.yem-digital {
  margin-right: 77px;
  width: 97px;
  height: 50px;
  background-image: url(../../assets/icons/yem-digital.svg);
}

.companies {
  margin-right: 213px;
  font-size: 18px;
  line-height: 21px;
}

.author {
  font-size: 18px;
  line-height: 21px;
}
