* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: darkslategray;
}

#app > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
