@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: SceneW01-Black;
  font-weight: 900;
  src: url(assets/fonts/SceneW01-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.header {
  width: 100%;
}

.header__content {
  display: flex;
}

.online-zoo-title {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.header__logo {
  margin-right: 58px;
  padding-top: 12px;
  height: 80px;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: none;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.header__menu {
  margin-top: 31px;
  display: flex;
  gap: 35px;
  list-style-type: none;
}

.header__menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(#70bc0e, #70bc0e);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.header__menu-link:hover {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
  background-size: 100% 2px;
}

.header__menu-link_active {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
  pointer-events: none;
}

@media screen and (max-width: 1200px) {

  .container {
    width: auto;
  }
  
}

@media screen and (max-width: 640px) {

  .header__content {
    padding-left: 20px;
  }

  .header__logo {
    margin-right: 51px;
  }

}

@media screen and (max-width: 639px) {

  .header__content {
    padding-left: 10px;
  }

  .header__logo {
    margin-right: 51px;
  }

  .header__menu {
    display: none;
  }

  .menu__btn {
    display: flex;
  }

}


.watch {
  margin-top: -80px;
  width: 100%;
  background-image: radial-gradient(71.89% 152.21% at 40.1% 50%, #B5E6FF 0%, #59C3FB 100%);
  background-repeat: no-repeat;
}

.watch__wrapper {
  background-image: url(assets/images/bg-watch.png);
  background-repeat: no-repeat;
  background-position: 44% 0;
}

.watch__text {
  margin-bottom: 50px;
  padding-top: 210px;
  width: 570px;
  font-family: SceneW01-Black;
  font-weight: 900;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.button {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  background-color: #70cb0e;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #59a10c;
}

.button:active {
  transform: scale(0.95);
}

.watch__button {
  margin-bottom: 137px;
  padding: 15px 88px 15px 112px;
  background-image: url(assets/icons/play-button.svg);
  background-repeat: no-repeat;
  background-position: 92px 50%;
}

@media screen and (max-width: 1200px) {

  .watch__wrapper {
    background-position: 57% 0;
  }
  
}

@media screen and (max-width: 640px) {

  .watch__wrapper {
    background-position: 70% 10px;
  }

  .watch__content {
    padding-left: 20px;
  }

  .watch__text {
    width: 450px;
    font-size: 50px;
    padding-top: 150px;
  }
  
  .watch__button {
    margin-bottom: 265px;
    padding: 17px 65px 17px 89px;
    background-position: 69px 50%;
  }

}

@media screen and (max-width: 639px) {

  .watch__wrapper {
    background-position: 58% 0;
  }

  .watch__content {
    padding-left: 10px;
  }

  .watch__text {
    width: 220px;
  }

  .watch__button {
    padding: 15px 81px 15px 103px;
    background-position: 83px 50%;
    margin-bottom: 149px;
  }
  
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.how-it-works__title {
  margin-top: 100px;
  margin-bottom: 30px;
  padding-left: 2px;
}

.how-it-works__content {
  padding-top: 51px;
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/images/bg-how-it-works.svg);
  background-repeat: no-repeat;
  background-position: 48% 48%;
  list-style-type: none;
}

.how-it-works__item {
  line-height: 1;
}

.how-it-works__picture {
  width: 250px;
  height: 350px;
}

.how-it-works__picture_first {
  margin-right: -20px;
}

.how-it-works__picture_second {
  margin-right: -20px;
  width: 300px;
  height: 400px;
}

.how-it-works__picture_third {
  position: relative;
  z-index: 1;
  width: 350px;
  height: 450px;
}

.how-it-works__picture_fourth {
  margin-left: -20px;
  position: relative;
  width: 300px;
  height: 400px;
}

.how-it-works__picture_fifth {
  margin-left: -20px;
}

.how-it-works__text {
  margin: 32px auto 100px auto;
  width: 933px;
  height: 126px;
  text-align: center;
  line-height: 130%;
}

.how-it-works__link {
  text-decoration: underline;
}

@media screen and (max-width: 1440px) {

  .how-it-works__content {
    
    overflow: hidden;
  }

  .how-it-works__picture_first {
    margin-right: -70px;
  }
  
  .how-it-works__picture_second {
    margin-right: -70px;
  }
  
  .how-it-works__picture_fourth {
    margin-left: -70px;
  }
  
  .how-it-works__picture_fifth {
    margin-left: -70px;
  }

}

@media screen and (max-width: 1199px) {

  .how-it-works {
    padding-left: 20px;
  }
  
  .how-it-works__content {
    padding-left: 20px;
    margin-left: -20px;
    overflow: hidden;
  }

  .how-it-works__text {
    width: 536px;
    height: 210px;
  }

}

@media screen and (max-width: 639px) {

  .how-it-works {
    padding-left: 10px;
  }

  .how-it-works__content {
    position: relative;
    height: 550px;
    background-position: 50% 0;
  }

  .how-it-works__item:nth-child(2) {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 160px;
    height: 215px;
  }

  .how-it-works__item:nth-child(1) {
    position: absolute;
    top: 85px;
    left: 160px;
    z-index: 2;
    width: 140px;
    height: 215px;
  }

  .how-it-works__item:nth-child(3) {
    position: absolute;
    top: 250px;
    left: 40px;
    z-index: 2;
    width: 140px;
    height: 215px;
  }

  .how-it-works__item:nth-child(4) {
    position: absolute;
    top: 285px;
    left: 230px;
    z-index: 1;
    width: 160px;
    height: 215px;
  }

  .how-it-works__picture_second {
    width: 160px;
    height: 215px;
  }

  .how-it-works__picture_fourth {
    width: 160px;
    height: 215px;
  }

  .how-it-works__picture_first {
    width: 140px;
    height: 215px;
  }

  .how-it-works__picture_third {
    width: 140px;
    height: 215px;
  }
  
  .how-it-works__picture_fifth {
    display: none;
  }

  .how-it-works__text {
    width: 300px;
    height: 399px;
  }

}

.pets-in-zoo {
  padding-top: 98px;
  width: 100%;
}

.pets-in-zoo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets-in-zoo__title {
  padding-bottom: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.pets-in-zoo__animals {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.arrow {
  width: 63px;
  height: 63px;
  background-color: #ffe68e;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  cursor: pointer;
}

.arrow:hover {
  background-color: #fddc62;
  transform: scale(1.2);
}

.arrow_left {
  background-image: url(assets/icons/arrow-left.svg);
  grid-area: button-left;
}

.arrow_right {
  background-image: url(assets/icons/arrow-right.svg);
  grid-area: button-right;
}

.pets-in-zoo__slides {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  grid-area: slides;
}

.pets-in-zoo__slide {
  position: relative;
  display: block;
  line-height: 0;
  cursor: pointer;
}

.pets-in-zoo__slide:hover {
  transform: scale(1.1);
}

.pets-in-zoo__picture {
  width: 233px;
  height: 300px;
}

.pets-in-zoo__panda {
  background-image: url(assets/images/panda-china.jpg);
}

.pets-in-zoo__alligator {
  background-image: url(assets/images/alligator-usa.jpg);
}

.pets-in-zoo__gorilla {
  background-image: url(assets/images/gorilla-eastern-drc.jpg);
}

.pets-in-zoo__elephant {
  background-image: url(assets/images/elephant-south-africa.jpg);
}

.pets-in-zoo__polar-bear {
  background-image: url(assets/images/polar-bear-canada.jpg);
}

.pets-in-zoo__bald-eagle {
  background-image: url(assets/images/bald-eagle-usa.jpg);
}

.pets-in-zoo__arctic-snowy-owl {
  background-image: url(assets/images/arctic-snowy-owl-alaska.jpg);
}

.pets-in-zoo__penguin {
  background-image: url(assets/images/penguin-usa.jpg);
}

@media screen and (max-width: 1199px) {

  .pets-in-zoo__animals {
    display: grid;
    justify-content: center;
    grid-template-areas: 
      "slides slides"
      "button-left button-right";
    row-gap: 30px;
  }

  .arrow_left {
    justify-self: end;
    margin-right: 20px;
  }

  .pets-in-zoo__slides {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pets-in-zoo__picture {
    width: 187px;
    height: 300px;
  }

  .pets-in-zoo__panda {
    background-image: url(assets/images/panda-china_tablet.jpg);
  }
  
  .pets-in-zoo__alligator {
    background-image: url(assets/images/alligator-usa_tablet.jpg);
  }
  
  .pets-in-zoo__gorilla {
    background-image: url(assets/images/gorilla-eastern-drc_tablet.jpg);
  }
  
  .pets-in-zoo__polar-bear {
    background-image: url(assets/images/polar-bear-canada_tablet.jpg);
  }
  
  .pets-in-zoo__bald-eagle {
    background-image: url(assets/images/bald-eagle-usa_tablet.jpg);
  }
  
  .pets-in-zoo__arctic-snowy-owl {
    background-image: url(assets/images/arctic-snowy-owl-alaska_tablet.jpg);
  }
  
  .pets-in-zoo__tablet {
    display: none;
  }

}

@media screen and (max-width: 640px) {

  .pets-in-zoo {
    padding-left: 20px;
  }
  
}

@media screen and (max-width: 639px) {

  .pets-in-zoo__animals {
    display: grid;
    justify-content: center;
    grid-template-areas: 
      "slides slides"
      "button-left button-right";
    row-gap: 30px;
  }

  .arrow_left {
    justify-self: end;
    margin-right: 20px;
  }

  .pets-in-zoo__slides {
    grid-template-columns: 1fr 1fr;
  }

  .pets-in-zoo__picture {
    width: 140px;
    height: 300px;
  }

  .pets-in-zoo__panda {
    background-image: url(assets/images/panda-china_mobile.jpg);
  }
  
  .pets-in-zoo__alligator {
    background-image: url(assets/images/alligator-usa_mobile.jpg);
  }
  
  .pets-in-zoo__gorilla {
    background-image: url(assets/images/gorilla-eastern-drc_mobile.jpg);
  }
  
  .pets-in-zoo__bald-eagle {
    background-image: url(assets/images/bald-eagle-usa_mobile.jpg);
  }
  
  .pets-in-zoo__mobile {
    display: none;
  }

}

.pets-in-zoo__description {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.pets-in-zoo__button {
  margin-bottom: 100px;
  padding: 15px 60px;
  width: 286px;
}

.pay-and-feed__title {
  padding-top: 100px;
  padding-bottom: 81px;
  padding-left: 1px;
}

.pay-and-feed__content {
  padding-left: 86px;
  padding-bottom: 100px;
  display: flex;
  gap: 45px;
  background-image: url(assets/icons/icon-arrows.svg);
  background-repeat: no-repeat;
  background-position: 55% 81%;
}

.pay-and-feed__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 639px;
}

.pay-and-feed__image {
  width: 263px;
  height: 242px;
}

.pay-and-feed__text {
  margin-top: -3px;
  line-height: 19px;
  text-align: center;
}

@media screen and (max-width: 1199px) {

  .pay-and-feed {
    padding-left: 20px;
  }

  .pay-and-feed__title {
    padding-bottom: 73px;
  }

  .pay-and-feed__content {
    height: 603;
    padding-top: 20px;
    column-gap: 91px;
    row-gap: 0;
    padding-left: 0;
    display: grid;
    justify-content: center;
    grid-template-areas: 
      "icon-card icon-zoo"
      "icon-panda icon-panda";
    background-image: url(assets/icons/icon-arrows_tablet.svg);
    background-position: 100px -90px;
  }

  .pay-and-feed__info {
    width: 192px;
  }

  .pay-and-feed__info:first-child {
    grid-area: icon-card;
  }

  .pay-and-feed__info:nth-child(2) {
    grid-area: icon-zoo;
  }

  .pay-and-feed__info:last-child {
    grid-area: icon-panda;
    justify-self: center;
  }

}

@media screen and (max-width: 639px) {

  .pay-and-feed__content {
    height: 603;
    row-gap: 79px;
    grid-template-areas: 
      "icon-card"
      "icon-zoo"
      "icon-panda";
    background-image: url(assets/icons/icon-arrows_mobile.svg);
    background-position: 50% 47%;
  }

  .pay-and-feed__title {
    padding-top: 102px;
    padding-bottom: 60px;
    padding-left: 1px;
  }
  
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__title {
  margin-right: -2px;
  padding-top: 96px;
  padding-bottom: 81px;
}

.testimonials__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonials__cards {
  display: flex;
  gap: 20px;
}

.testimonials__card {
  padding: 22px 20px 30px 20px;
  width: 233px;
  height: 369px;
  background-color: #a7e1ff;
}

.testimonials__user {
  display: flex;
}

.testimonials__user-info {
  padding-top: 8px;
  padding-left: 10px;
}

.testimonials__user-avatar {
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

.testimonials__user-name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.testimonials__user-donate {
  margin-top: 4px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  background-image: url(assets/icons/icon-coin.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.testimonials__text {
  padding-top: 18px;
  line-height: 120%;
}

.testimonials__button {
  margin-top: 50px;
  margin-bottom: 85px;
  padding: 15px 60px;
  width: 246px;
}

.testimonials__button:hover {
  background-color: #59a10c;
}

.testimonials__button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1199px) {

  .testimonials__title {
    padding-top: 100px;
  }

  .testimonials__content {
    padding-left: 20px;
  }
  
  .testimonials__card {
    padding: 20px 20px 30px 20px;
    width: 187px;
    height: 429px;
  }

  .testimonials__card:nth-child(4) {
    display: none;
  }

  .testimonials__wrapper {
    display: grid;
    justify-content: center;
    grid-template-areas: 
      "testimonials testimonials"
      "button-left button-right";
    row-gap: 30px;
  }

  .arrow_left {
    grid-area: button-left;
    margin-right: 10px;
  }

  .arrow_right {
    grid-area: button-right;
  }

  .testimonials__cards {
    grid-area: testimonials;
  }

  .testimonials__button {
    padding: 15px 50px;
    width: 226px;
  }

}

@media screen and (max-width: 639px) {
  
  .testimonials__cards {
    flex-direction: column;
    row-gap: 10px;
  }

  .testimonials__card {
    width: 300px;
    height: auto;
  }

  .testimonials__card:nth-child(3) {
    display: none;
  }

}

.footer {
  display: flex;
  align-items: flex-end;
  height: 285px;
  background-image: url(assets/images/bg-footer.svg);
  background-repeat: no-repeat;
  background-position: 5px 100%;
}

.footer__wrapper {
  width: 100%;
  height: 270px;
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #dff5b0;
}

.footer__content {
  display: grid;
  grid-template-areas:
    "logo footer-button footer-button links socials"
    "rsschool yem-digital companies companies author";
  row-gap: 63px;
}

.footer__links {
  display: flex;
  margin-bottom: 63px;
}

.footer__logo {
  margin-right: 100px;
  grid-area: logo;
}

.footer__logo-image {
  width: 98px;
  height: 50px;
}

.footer__button {
  margin-right: 162px;
  display: block;
  width: 230px;
  height: 50px;
  padding: 14px 28.5px 15px 28.5px;
  grid-area: footer-button;
}

.footer__button:hover {
  background-color: #59a10c;
}

.footer__button:active {
  transform: scale(0.95);
}

.footer__navigation {
  margin-right: 3px;
  display: flex;
  grid-area: links;
}

.footer__menu-wrapper {
  margin-right: 121px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer__menu-link:hover {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
}

.footer__socials {
  display: flex;
  gap: 10px;
  grid-area: socials;
}

.footer__social {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer__social:hover {
  transform: scale(1.2);
}

.instagram {
  background-image: url(assets/icons/instagram.svg);
}

.facebook {
  background-image: url(assets/icons/facebook.svg);
}

.twitter {
  background-image: url(assets/icons/twitter.svg);
}

.youtube {
  background-image: url(assets/icons/youtube.svg);
}

.footer__copyright {
  display: flex;
  align-items: flex-end;
}

.rsschool {
  margin-right: 57px;
  width: 141px;
  height: 50px;
  background-image: url(assets/icons/rsschool.svg);
  grid-area: rsschool;
}

.yem-digital {
  margin-right: 77px;
  width: 97px;
  height: 50px;
  background-image: url(assets/icons/yem-digital.svg);
  grid-area: yem-digital;
}

.companies {
  font-size: 18px;
  line-height: 21px;
  grid-area: companies;
  align-self: flex-end;
}

.author {
  font-size: 18px;
  line-height: 21px;
  grid-area: author;
  justify-self: flex-end;
  align-self: flex-end;
}

@media screen and (max-width: 1200px) {
  
  .footer {
    background-position: 14% 91%;
  }

}

@media screen and (max-width: 1199px) {

  .footer {
    height: 374px;
    background-position: -200px -52px;
  }

  .footer__wrapper {
    height: 359px;
  }

  .footer__content {
    padding-left: 20px;
    display: grid;
    grid-template-areas:
      "logo links socials"
      "rsschool yem-digital footer-button"
      "author author author"
      "companies companies companies";
    row-gap: 10px;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 43px;
  }

  .footer__navigation {
    margin-right: 25px;
    gap: 55px;
  }
  
  .footer__menu-wrapper {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer__button {
    justify-self: end;
    margin-right: 0;
    width: 207px;
    height: 50px;
    padding: 14px 17px 15px 17px;
  }

  .footer__socials {
    justify-self: end;
  }
  
  .rsschool {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .yem-digital {
    margin-right: 0;
    justify-self: center;
  }

  .companies {
    justify-self: center;
    align-self: center;
  }
  
  .author {
    justify-self: center;
    align-self: center;
  }
  
}

@media screen and (max-width: 639px) {

  .footer {
    height: 757px;
  }

  .footer__wrapper {
    height: 742px;
  }
  
  .footer__content {
    padding-left: 0;
    justify-items: center;
    display: grid;
    grid-template-areas:
      "logo logo"
      "links links"
      "footer-button footer-button"
      "socials socials"
      "rsschool yem-digital"
      "author author"
      "companies companies";
    row-gap: 50px;
  }

  .footer__logo {
    margin-right: -15px;
    margin-bottom: 0
  }

  .rsschool {
    margin-right: 0;
    margin-bottom: 0;
  }

  .footer__navigation {
    flex-direction: column;
    margin-right: 0;
    gap: 15px;
  }  

  .footer__menu-wrapper {
    margin-right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer__menu-link {
    margin-right: -15px;
  }
  
  .footer__button {
    margin: 0;
    margin-right: -15px;
  }

  .footer__socials {
    margin: 0;
    margin-right: -15px;
    justify-self: center;
  }

  .footer__button {
    justify-self: center;
  }

  .rsschool {
    margin-right: 45px;
  }

  .yem-digital {
    margin-right: -15px;
  }

  .author {
    margin-right: -15px;
  }

  .companies {
    margin-top: -40px;
    margin-right: -15px;
    text-align: center;
    width: 210px;
  }

}