@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: SceneW01-Black;
  font-weight: 900;
  src: url(assets/fonts/SceneW01-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  border: none;
  outline: none;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1160px;
}

.header {
  width: 100%;
}

.header__content {
  display: flex;
}

.title {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.header__logo {
  margin-right: 58px;
  padding-top: 12px;
  height: 80px;
}

.header__menu {
  padding-top: 30px;
  display: flex;
  gap: 35px;
  list-style-type: none;
}

.header__menu-link {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(#70bc0e, #70bc0e);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.header__menu-link:hover {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
  background-size: 100% 2px;
}

.header__menu-link_active {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
  pointer-events: none;
}

.watch {
  margin-top: -80px;
  background-image: radial-gradient(71.89% 152.21% at 40.1% 50%, #B5E6FF 0%, #59C3FB 100%);
  background-repeat: no-repeat;
}

.watch__content {
  height: 700px;
  background-image: url(assets/images/bg-watch.png);
  background-repeat: no-repeat;
  background-position: 219px 0;
}

.watch__text {
  padding-top: 210px;
  padding-bottom: 50px;
  width: 570px;
  font-family: SceneW01-Black;
  font-weight: 900;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.watch__button {
  width: 233px;
  height: 51px;
  font-size: 18px;
  padding-left: 24px;
  background-color: #70cb0e;
  background-image: url(assets/icons/play-button.svg);
  background-repeat: no-repeat;
  background-position: 89px;
  border-radius: 30px;
  cursor: pointer;
}

.watch__button:hover {
  background-color: #59a10c;
}

.watch__button:active {
  transform: scale(0.95);
}

.how-it-works__title {
  margin-top: 100px;
  margin-bottom: 29px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.how-it-works__content {
  height: 549px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/images/bg-how-it-works.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  list-style-type: none;
}

.how-it-works__picture {
  width: 250px;
  height: 350px;
}

.how-it-works__picture_first {
  margin-right: -20px;
}

.how-it-works__picture_second {
  margin-right: -25px;
  width: 300px;
  height: 400px;
}

.how-it-works__picture_third {
  position: relative;
  z-index: 1;
  width: 350px;
  height: 450px;
}

.how-it-works__picture_fourth {
  margin-left: -25px;
  position: relative;
  width: 300px;
  height: 400px;
}

.how-it-works__picture_fifth {
  margin-left: -20px;
}

.how-it-works__text {
  margin: 32px auto 100px auto;
  width: 933px;
  text-align: center;
  line-height: 130%;
}

.pets-in-zoo__title {
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.pets-in-zoo__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 63px;
  height: 63px;
  background-color: #ffe68e;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  cursor: pointer;
}

.arrow:hover {
  background-color: #fddc62;
  transform: scale(1.2);
}

.arrow_left {
  background-image: url(assets/icons/arrow-left.svg);
}

.arrow_right {
  background-image: url(assets/icons/arrow-right.svg);
}

.pets-in-zoo__animals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.pets-in-zoo__animal {
  position: relative;
  cursor: pointer;
}

.pets-in-zoo__animal:hover {
  transform: scale(1.1);
}

.pets-in-zoo__picture {
  width: 233px;
  height: 300px;
}

.pets-in-zoo__description {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.pets-in-zoo__link {
  padding-top: 50px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.pets-in-zoo__button {
  width: 286px;
  height: 51px;
  font-size: 18px;
  background-color: #70cb0e;
  border-radius: 30px;
  cursor: pointer;
}

.pets-in-zoo__button:hover {
  background-color: #59a10c;
}

.pets-in-zoo__button:active {
  transform: scale(0.95);
}

.pay-and-feed__title {
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.pay-and-feed__content {
  padding-left: 84px;
  padding-bottom: 100px;
  display: flex;
  gap: 45px;
  background-image: url(assets/icons/icon-arrows.svg);
  background-repeat: no-repeat;
  background-position: 55% 82%;
}

.pay-and-feed__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.pay-and-feed__image {
  width: 263px;
  height: 242px;
}

.pay-and-feed__text {
  line-height: 19px;
  text-align: center;
}

.testimonials__title {
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.testimonials__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials__card {
  padding: 22px 20px 30px 20px;
  width: 233px;
  height: 369px;
  background-color: #a7e1ff;
}

.testimonials__user {
  display: flex;
}

.testimonials__user-info {
  padding-top: 8px;
  padding-left: 10px;
}

.testimonials__user-avatar {
  border-radius: 50%;
}

.testimonials__user-name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.testimonials__user-donate {
  margin-top: 4px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  background-image: url(assets/icons/icon-coin.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.testimonials__text {
  padding-top: 18px;
  line-height: 120%;
}

.testimonials__link {
  padding-top: 50px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.testimonials__button {
  padding: 15px 60px;
  font-size: 18px;
  background-color: #70cb0e;
  border-radius: 30px;
  cursor: pointer;
}

.testimonials__button:hover {
  background-color: #59a10c;
}

.testimonials__button:active {
  transform: scale(0.95);
}

.footer__wrapper {
  display: flex;
  align-items: flex-end;
  height: 350px;
  background-image: url(assets/images/bg-footer.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #dff5b0;
}

.footer__links {
  display: flex;
  margin-bottom: 70px;
}

.footer__logo {
  width: 98px;
  height: 50px;
  margin-right: 98.5px;
}

.footer__button {
  margin-right: 160.5px;
  padding: 14px 30px 15px 30px;
  font-size: 18px;
  line-height: 21px;
  background-color: #70cb0e;
  border-radius: 30px;
  cursor: pointer;
}

.footer__button:hover {
  background-color: #59a10c;
}

.footer__button:active {
  transform: scale(0.95);
}

.footer__menu-links {
  margin-right: 121px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.footer__menu-link:hover {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
}

.footer__socials {
  display: flex;
  gap: 10px;
}

.footer__social {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer__social:hover {
  transform: scale(1.2);
}

.instagram {
  background-image: url(assets/icons/instagram.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.facebook {
  background-image: url(assets/icons/facebook.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.twitter {
  background-image: url(assets/icons/twitter.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.youtube {
  background-image: url(assets/icons/youtube.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__copyright {
  display: flex;
  align-items: flex-end;
}

.rsschool {
  margin-right: 57px;
  width: 141px;
  height: 50px;
  background-image: url(assets/icons/rsschool.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.yem-digital {
  margin-right: 77px;
  width: 97px;
  height: 50px;
  background-image: url(assets/icons/yem-digital.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.companies {
  margin-right: 213px;
  font-size: 18px;
  line-height: 21px;
}

.author {
  font-size: 18px;
  line-height: 21px;
}