@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: SceneW01-Black;
  font-weight: 900;
  src: url(assets/fonts/SceneW01-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  border: none;
  outline: none;
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header__content {
  display: flex;
}

.title {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.header__logo {
  margin-right: 58px;
  padding-top: 12px;
  height: 80px;
}

.header__menu {
  padding-top: 30px;
  display: flex;
  gap: 35px;
  list-style-type: none;
}

.header__menu-link {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(#70bc0e, #70bc0e);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.header__menu-link:hover {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
  background-size: 100% 2px;
}

.header__menu-link_active {
  text-shadow: #70bc0e 1px 1px 0, #70bc0e -1px -1px 0, #70bc0e -1px 1px 0, #70bc0e 1px -1px 0;
  pointer-events: none;
}

.watch {
  margin-top: -80px;
  background-image: radial-gradient(71.89% 152.21% at 40.1% 50%, #B5E6FF 0%, #59C3FB 100%);
  background-repeat: no-repeat;
}

.watch__content {
  height: 700px;
  background-image: url(assets/images/bg-watch.png);
  background-repeat: no-repeat;
  background-position: 219px 0;
}

.watch__text {
  padding-top: 210px;
  padding-bottom: 50px;
  width: 570px;
  font-family: SceneW01-Black;
  font-weight: 900;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.watch__button {
  width: 233px;
  height: 51px;
  font-size: 18px;
  padding-left: 24px;
  background-color: #70cb0e;
  background-image: url(assets/icons/play-button.svg);
  background-repeat: no-repeat;
  background-position: 89px;
  border-radius: 30px;
  cursor: pointer;
}

.watch__button:hover {
  background-color: #59a10c;
}

.watch__button:active {
  transform: scale(0.95);
}
