@font-face {
  font-family: 'Bebas Neue';
  font-weight: 700;
  src: url(../../assets/fonts/BebasNeue-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', Arial, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
}

.error {
  margin-top: 190px;
  margin-bottom: 190px;
  width: 675px;
  height: 700px;
  overflow: hidden;
}

.error__image {
  margin-bottom: 26px;
}

.error__message {
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 1px;
}

.error__link {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #59c3fb;
  text-decoration: none;
}

.error__link:hover {
  color: #309fdb;
}

@media screen and (max-width: 1200px) {
  
  .error {
    margin-top: 50px;
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 980px) {

  .error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .error__image {
    width: 550px;
  }
  
}

@media screen and (max-width: 639px) {

  .error {
    margin-top: 0;
    margin-bottom: 0;
    height: 568px;
  }

  .error__image {
    width: 260px;
    margin-bottom: 14px;
  }
  
  .error__message {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .error__link {
    font-size: 16px;
    line-height: 16px;
  }

}