@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #f7f7f7;
  text-decoration: none;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  position: absolute;
  padding-top: 20px;
  width: 100%;
  background-color: #02160b;
  background-image: url("assets/images/survival.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.logo__image {
  width: 70px;
  height: 60px;
  background-image: url('assets/images/logo.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.logo__title {
  width: 155px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  cursor: pointer;
}

.menu__link {
  font-size: 23px;
  line-height: 60px;
  background-image: linear-gradient(#cd6326, #cd6326);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.menu__link:hover,
.menu__link:active {
  color: #cd6326;
  background-size: 100% 2px;
}

.menu__search {
  margin-right: 61px;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url('assets/images/search.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.menu__search:hover {
  background-image: url('assets/images/search-hovered.svg');
  transform: scale(1.2);
}

.menu__link-contacts {
  margin-right: 63px;
}

.menu__link-blog {
  margin-right: 64px;
}

.menu__sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  border-radius: 5px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 23px;
  cursor: pointer;
}

.menu__sign-in:hover {
  background-color: #cd6326;
  border: none;
}

.menu__sign-in:active {
  background-color: #8f5613;
  border: none;
}

.survival {
  padding-top: 200px;
  padding-bottom: 240px;
  width: 100%;
  background-color: #02160b;
  background-image: url("assets/images/survival.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.survival__title {
  margin-bottom: 51px;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}

.survival__content {
  margin-bottom: 49px;
  width: 274px;
  font-size: 18px;
  line-height: 27px;
}

.donate-button {
  width: 160px;
  height: 60px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 23px;
  line-height: 27px;
  background: #cd6326;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.donate-button:hover {
  background-color: #e39128;
}

.donate-button:active {
  background-color: #8f5613;
}

.articles {
  padding-top: 120px;
  padding-bottom: 240px;
  width: 100%;
  background-color: #ccc;
}

.articles__title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 72px;
  color: #333;
  text-align: center;
}

.articles__subtitle {
  margin-bottom: 120px;
  font-size: 24px;
  line-height: 36px;
  color: #666;
  text-align: center;
}

.articles__content {
  display: flex;
  gap: 60px;
  align-items: center;
}

.arrow-left {
  width: 30px;
  height: 40px;
  background-image: url('assets/images/arrow-left.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.arrow-left:hover {
  background-image: url('assets/images/arrow-left-hovered.svg');
  transform: scale(1.2);
}

.arrow-right {
  width: 30px;
  height: 40px;
  background-image: url('assets/images/arrow-right.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.arrow-right:hover {
  background-image: url('assets/images/arrow-right-hovered.svg');
  transform: scale(1.2);
}

.articles__slide {
  display: none;
  position: relative;
  width: 300px;
  height: 360px;
  cursor: pointer;
}

.visible {
  display: block;
}

.articles__slide:hover {
  transform: scale(1.1);
}

.articles__slide-title {
  position: absolute;
  top: 247px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 22px;
  line-height: 36px;
}

.articles__slide-subtitle {
  position: absolute;
  top: 293px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 17px;
  line-height: 27px;
}

.notify {
  padding-bottom: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ccc;
}

.notify__title {
  margin-bottom: 60px;
  font-size: 27px;
  line-height: 40px;
  color: #333;
  text-align: center;
}

.notify__form {
  display: flex;
}

.notify__email {
  width: 540px;
  height: 60px;
  padding-left: 15px;
  border: 1px solid #666;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 23px;
  color: #666;
}

.notify__send {
  width: 120px;
  height: 60px;
  background-color: #cd6326;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 23px;
  line-height: 27px;
}

.notify__send:hover {
  background-color: #e39128;
}

.notify__send:active {
  background-color: #8f5613;
}

.footer {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #181617;
  background-image: url('assets/images/footer.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__link-articles {
  margin-right: 87px;
}

.menu__link-about-us {
  margin-right: 89px;
}

.menu__link-learn-more {
  margin-right: 5px;
}

.footer__socials {
  display: flex;
}

.footer__social {
  cursor: pointer;
}

.footer__social:hover {
  transform: scale(1.2);
}

.footer__social-facebook {
  display: block;
  margin-right: 27px;
  width: 40px;
  height: 40px;
  background-image: url("assets/images/facebook.svg");
}

.footer__social-instagram {
  display: block;
  margin-right: 26px;
  width: 40px;
  height: 40px;
  background-image: url("assets/images/instagram.svg");
}

.footer__social-pinterest {
  display: block;
  margin-right: 27px;
  width: 40px;
  height: 40px;
  background-image: url("assets/images/pinterest.svg");
}

.footer__social-telegram {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("assets/images/telegram.svg");
}
